#main-container {
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
}

.main-title {
    font-size:32px;
    line-height:40px;
    margin:20px auto;
    text-align:center;
    max-width:520px;
    font-family:SF Pro Text,sans-serif;
    word-wrap:break-word;
}

.main-description {
    font-size:16px;
    line-height:23px;
    max-width:630px;
    text-align:center;
    margin:0 auto 40px;
    color:#0c0c0d;
}

.upload-window {
    text-align:center;
    max-width: 630px;
    border:3px dashed rgba(51, 122, 183, 0.5);
    margin:20px auto;
    height:255px;
    border-radius:4px;
    transition:transform .15s;
    padding:15px;
}

#upload-text {
    font-size:22px;
    width: 14em;
    color:#737373;
    margin:20px auto 10px auto;
    font-family:SF Pro Text,sans-serif;
}

#file-size-msg {
    font-size:15px;
    line-height:16px;
    color:#737373;
    text-align: center;
}

.browse {
    border-radius: 5px;
    font-size:20px;
    color:#fff;
    width:260px; !important;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    margin: 20px auto;
}

input[type=file] {
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1}

#fileInfo {
    margin:30px auto;
    width:100%;
    border-collapse:collapse;
    table-layout: fixed;
    text-align: center;
}

#fileInfo td{
    font-size:1em;
    padding:3px 5px 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.colored {
    width:5em;
    background-color: rgba(226, 226, 228, 0.5);
}

#btn-cancel, #btn-upload, #download, #btn-done {
    width: 7em;
    margin: 0px 10px;
}

.buttons {
    float: right;
}

.delete-icon {
    font-size:large !important;
    color: rgba(128, 128, 128, 0.78);
}

.delete-icon:hover {
    cursor: pointer;
    color: gray;
}


